.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: #188ce8;
  }
}

.btn--hero {
  width: 200px;
  padding: 10px;
}

.btn--footer {
  width: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    margin-left: 10px;
    fill: var(--third-text-color);
  }
}

.btn--modal {
  width: 200px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn--filter {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  color: var(--first-text-color);
  background-color: var(--first-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.current-btn,
  &:hover,
  &:focus {
    color: var(--third-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}

.close-btn__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .close-btn:focus &,
  .close-btn:hover & {
    fill: var(--accent-color);
  }
}
