.footer-form {
  display: flex;
}

.footer-form__input {
  width: 358px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
  outline: none;
  padding-left: 16px;
  padding-right: 16px;

  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--fourth-text-color);
  }
}
