.site-nav {
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
  & .current-page {
    color: var(--accent-color);
  }
}

.current-page {
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.site-nav__link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover,
  &:active {
    color: var(--accent-color);
  }
}
