.work-sample {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.work-sample__meta {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.work-sample__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.work-sample__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.work-sample__wrap {
  position: relative;
  overflow: hidden;
}

.work-sample__about {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .work-sample:hover &,
  .work-sample:focus & {
    transform: translateY(0);
  }
}
